include README.md CONTRIBUTING.md LICENSE SECURITY.md CHANGELOG.md
include THIRD_PARTY_NOTICES.md
include setup.cmd launch.pyw
include .gitignore
include Start*.cmd
recursive-include .github *.yml
recursive-include docs *.md *.png
recursive-include tests *.py
recursive-include scripts *.py
global-exclude *.pyc
